<div class="container">
  <h1>All You Need to Know About Jobs</h1>
  <div class="inner-container">
    <div class="box">
      <h4>Jobs by Interest Level</h5>
      Best Jobs (score: 75+ ) - <%= @job75_100 %>
      <br/>
      Good Jobs (score: 50 - 75) - <%= @job50_75 %>
      <br/>
      Okay Jobs (score: 25 - 50) - <%= @job25_50 %>
      <br/>
      Not interested (score: below 25) - <%= @job0_25 %>
    </div>

    <div class="box">
      <h4>Jobs by City</h5>
      <% @distinct_cities.each do |city| %>
      <p><%= link_to "#{city}", jobs_path(location: "#{city}") %> - <%= Job.jobs_in_city(city).count %></p>
      <% end %>
    </div>

    <div class="box">
      <h4>Top 3 Companies (Interest Level)</h4>
      <% @top_three_companies.each do |company| %>
      <%= company.name %> (<%= company.average_level_of_interest %>) <br/>
      <% end %>
    </div>
  </div>

</div>
