Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

<%= link_to "Edit Job", edit_company_job_path(@job) %>
<br>

Category: <%= link_to @job.category.title, category_path(@job.category_id) %>
<br>

Comments:
<%= render partial: "form_comment" %>
<% @job.comment_order.each do |c| %>
  <p>
    <%= c.body %> <%= c.created_at %><br/>
  </p>
<% end %>
