All Jobs for <strong><%= @company.name %></strong>

<% @company.jobs.each do |job| %>
  <ul><%= link_to job.title, job_path(job) %> at <%= job.company.name %> - <%= link_to "Delete", company_job_path(@company, job), method: "delete", data: {confirm: "Are you sure? This will permanently delete this job."} %></ul>
<% end %>

<%= link_to "Create a New Job", new_company_job_path(@company) %>
<br>
<br>
Contacts:
<%= render partial: "form_contact" %>
<% @company.contacts.each do |c| %>
  <p>
    Name: <%= c.name %> | Position: <%= c.position %> | Email: <%= c.email %> <%= link_to "Edit", edit_company_contact_path(@company, c) %> <%= link_to "Delete", company_contact_path(@company, c), method: "delete", data: {confirm: "Are you sure? This will permanently delete this contact."} %><br/>
  </p>
<% end %>
